@import url("agregore://theme/vars.css");
html {
    font-family: var(--ag-theme-font-family);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(233 233 233 / 95%);
}
