@import url("agregore://theme/vars.css");
html {
    font-family: var(--ag-theme-font-family);
}

.siteEditor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(233 233 233 / 95%);
}

.siteEditor > div {
    display: flex;
    flex-grow: 1;
    padding: 1em;
}

.siteEditor form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.siteEditor .sideBar {
    padding-right: 1em;
    width: 20vw;
    overflow:scroll;
}

#idForm pre {
    flex-grow: 1;
    margin: 0;
    font-size: 14px;
}
