@import url("agregore://theme/vars.css");

:root {
  --gap: 5px;
  --half-gap: calc(var(--gap) / 2);
}

body,
* {
  padding: 0;
  margin: 0;
  font-family: var(--ag-theme-font-family);
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* One column */
  grid-template-rows: repeat(3, 1fr); /* 3 rows on load */
  height: 95vh;
  gap: var(--gap);
}

.grid-container > *,
.grid-container > textarea {
  padding: var(--gap);
  overflow: auto;
  border: 1px solid var(--ag-theme-primary);
  resize: none;
  height: 100%;
  min-height: 1rem;
}

div textarea:focus,
#uploadtoDWebButton:hover {
  outline: 2px solid var(--ag-theme-secondary);
  color: var(--ag-theme-text);
}

#dweb-container,
#uploadListBox {
  display: flex;
  padding: 0 var(--half-gap);
  align-items: center;
  justify-content: space-between;
}

#dweb-container > *,
#uploadListBox li {
  display: flex;
  align-items: flex-end;
  gap: var(--half-gap);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}

span {
  pointer-events: cursor;
  color: var(--ag-theme-secondary);
}

span:hover {
  color: var(--ag-theme-primary);
}

.dnone {
  display: none;
}

@media screen and (max-width: 768px) {
  #dweb-container,
  #dweb-container > *,
  .grid-container {
    flex-direction: column;
    align-items: flex-start;
    grid-template-columns: 1fr; /* Adjusts to a single column for mobile */
  }
}
