@import url("agregore://theme/vars.css");
html {
    background: var(--ag-theme-background);
    color: var(--ag-theme-text);
    font-family: var(--ag-theme-font-family);
}
#uploadBox {
    padding: 1em;
    border: 0.25em solid var(--ag-theme-primary);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--ag-theme-secondary);
    padding:0.15em 0.5em;
    border-radius: 0.5em;
}
a:hover {
    color: var(--ag-theme-background);
    background-color: var(--ag-theme-secondary);
    text-decoration: none;
}		

main {
    margin: 1em;
}

select, select * {
    background: var(--ag-theme-background);
    font-size: inherit;
    margin-bottom: 1em;
    color: var(--ag-theme-text);
    border: 0.05em solid var(--ag-theme-secondary);
    padding:0.25em;
    border-radius: 0.25em;
}

*::selection, option:hover {
    background: var(--ag-theme-primary);
    color: var(--ag-theme-text);
}